veles
veles.exe
*.exe*
*.ll
# the codegen goldens are the one kind of .ll that belongs in the tree
!codegen/llvm/golden/**/*.ll

**/testdata/*
# the conformance cases (plan A4) are sources, not generated data
!sema/testdata/conform/


node_modules
**/.vitepress/cache
**/.vitepress/dist